html{
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    color: #333;
    /*background-color: #EEEEEE;*/
    background-color: #FAF9F6; /* off-white */
    font-family: Georgia, serif;
    font-size: 62.5%;
    line-height: 1.375
}

body {
    /*margin: 60px auto;
    width: 50%;*/
    font-size: 1.6rem;
    margin: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

small {
    font-size: 80%
}

/* Adding hidden to a html tag will remove it */
[hidden] {
    display: none
}

[underline]{
    text-decoration: underline;
}

.nav-link {
    color: #121212;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: .8em;
    margin: 6px 0;
    text-decoration: none
}

.nav-link span {
    border-radius: .234375em;
    padding: .3125em;
    margin: -0.3125em
}

.nav-link:hover span,
.nav-link:focus span,
.nav-link:active span,
.nav-link.active span {
    background: #f7f7f7
}

.nav-open .header .mobile-nav-toggle {
    background: #f7f7f7;
    display: block
}

.social {
    margin-top: 0.54em;
}

.social a {
    color: #777;
    margin-right: 1em;
}

.social a:last-of-type {
    margin-right: 0;
}

.social a:hover,
.social a:active,
.social a:focus {
    color: #121212;
    text-decoration: none
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.1
}


h1,
.h1 {
    /*color: #121212;*/
    color: #292929;
    font-size: 2em;
    margin: .5em 0
}

h2,
.h2 {
    color: #121212;
    font-size: 1.5em;
    margin: 1.333333em 0 .666667em
}

h3,
.h3 {
    /*color: #121212;*/
    color: #444;
    font-size: 1.2em;
    margin: 1.666666em 0 .833333em
}

h4,
.h4 {
    /*color: #121212;*/
    color: #444;
    font-size: 1em;
    letter-spacing: .025em;
    text-transform: uppercase;
    margin: 2em 0 1em
}

h5,
.h5 {
    color: #666;
    font-size: 1em;
    letter-spacing: .025em;
    text-transform: uppercase;
    margin: 2em 0 1em
}

h6,
.h6 {
    color: #666;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .025em;
    margin: 2.5em 0 1.25em
}


/*
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
*/

/*
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
*/


/* ---------------- Logo --------------------- */

.logo {
    color: #000;
    display: block;
    line-height: 1;
    text-decoration: none
}

.logo:hover {
    text-decoration: underline
}

/* ---------------- Bullet pts ------------------ */

.bullets {
    /*border-bottom: 1px solid #ddd;*/
    /*font-size: 1.4rem;*/
    margin: 0 0 2rem 0;
    padding: 0 0 0 2rem;
    font-size: 100.0%;
    line-height: 0.5;
}

.bullets p {
    color: #581845;
}


/* ---------------- Summary ------------------ */

.summary {
    border-bottom: 1px solid #ddd;
    font-size: 1.4rem;
    margin: 0 0 1.5rem 0;
    padding: 0 0 1.5rem 0
}

.summary:last-of-type {
    border-bottom: 0;
    margin: 0;
    padding: 0
}

.summary a {
    color: #555;
    display: block;
    text-decoration: none
}

.summary a:hover,
.summary a:focus,
.summary a:active,
.summary a:hover>*,
.summary a:focus>*,
.summary a:active>* {
    color: #666
}

.summary h2 {
    font-size: 1.2em;
    line-height: inherit;
    margin: 0 0 .416667em
}

.summary p {
    margin: .5em 0
}

span.thick {
    font-weight: bold;
}


/*  ------------------------------------------
    Left container / Header
        Static at the top of the screen
*/

div.left-container {
    position: static;
}

.logo .title {
    font-family: Courier, monospace;
    font-size: 18px;
    margin: 18px 0 1.8rem;
}

.header {
    border-right: 1px solid #ccc;
    left: auto;
    padding: 24px 40px;
    position: absolute;
    right: calc(50% + 40px + 23rem);
    text-align: center;
    top: 44px;
}

/*
.logo .mark {
    user-select: none;
    width: 88px
}
*/


/*  ------------------------------------------
    Right Container
            holds the main body text 
*/


.main,
.footer {
    box-sizing: content-box;
    margin: 44px auto 4rem;
    max-width: 46rem;
    padding: 0 40px
}

.main {
    font-size: 1.4rem
}

.wide-main, 
.wide-footer {
    box-sizing: content-box;
    margin: 44px auto 4rem;
    max-width: 60rem;
    /*padding: 0 40px;*/
    padding: 0 0 0 140px;  /* TODO: this isn't good for small screens */ 
    font-size: 1.4rem
}

/*  ------------------------------------------
    Meta data at the top of the article

*/

.meta>* {
    font-family: Helvetica, Arial, sans-serif;
    color: #999;
    margin: 0 .625em 0 0
}

.meta.tags {
    border-top: 1px solid #ddd;
    display: block;
    margin: 1.5em 0 4em;
    padding: 1.5em 0 0;
    word-break: break-word
}

.meta.tags>* {
    color: #777;
    line-height: 3
}

.meta.tags a {
    text-decoration: none
}

.meta.tags a:hover,
.meta.tags a:focus,
.meta.tags a:active {
    color: #333
}

.meta.tags a:hover span,
.meta.tags a:focus span,
.meta.tags a:active span {
    border-color: #333
}

.meta.tags span {
    border: 1px solid #777;
    border-radius: .267857em;
    padding: .357143em .535714em;
    white-space: nowrap
}

blockquote {
    font-style: italic;
    margin: 1em 2em
}

/* -------------------------------------
    Link icons
*/

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.woff2') format("woff2");
    src: url('../font/fontello.eot?50319861');
    src: url('../font/fontello.eot?50319861#iefix') format('embedded-opentype'),
        url('../font/fontello.woff?50319861') format('woff'),
        url('../font/fontello.ttf?50319861') format('truetype'),
        url('../font/fontello.svg?50319861#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face{
    font-family: 'Welcomefont';
    src: url('../emotional-rescue-font/EmotionalRescuePersonalUseRegular-PKY87.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

[class^="i-"],
[class*=" i-"] {
    line-height: 1;
    vertical-align: text-bottom
}

[class^="i-"]::before,
[class*=" i-"]::before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    speak: none;
    display: inline-block;
    text-transform: none;
    text-decoration: none;
    text-rendering: auto;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 1em;
    box-sizing: content-box;
    overflow: hidden
}

.i-forward:before {
    content: '\e800'
}

.i-twitter:before {
    content: '\f099'
}

.i-github:before {
    content: '\f056';
}

.i-linkedin:before {
    content: '\f30c'
}

